{% extends "layout.html" %}
{% block content %}
<div class="shadow p-3 m-5 bg-body rounded">
  <h1>{{ title }}</h1>

  <canvas id="myChart" width="900" height="400"></canvas>
</div>
<script>
  const labels = {{ labels | tojson }};

  const data = {
    labels: labels,
    datasets: [{
    label: {{legend | tojson}},
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: {{ values | tojson }},
    }]
  };

  const config = {
    type: 'line',
    data: data,
    options: {}
  };

  const myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% endblock content %}
